@import 'tailwindcss';

:root {
  /* Colors */
  --color-main-background: #162442;
  --color-navbar-background: #f9fafb;
  --color-button-primary: #dfe2e7;
  --color-button-secondary: #ffffff;
  --color-button-border: #e1e1e1;
  --color-button-hover: rgba(157, 164, 178, 0.35);
  --color-chip-default: rgba(157, 164, 178, 0.15);
  --color-icon-active: #f59d0e;
  --color-icon-flag: #2f72e2;
  --color-icon-inactive: #8c93a1;
  --color-text-default: #1a1a1a;
  --color-text-inactive: #677289;

  /* Spacing */
  --space-chip-padding-x: 0.625rem;
  --space-chip-padding-y: 0.25rem;
  --space-icon-text-gap: 0.375rem;
  --space-nav-chip-gap: 1.25rem;

  /* Border Radius */
  --radius-md: 8px;

  /* Shadows */
  --shadow-active: 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 1px 3px rgba(0, 0, 0, 0.04);
  --shadow-focus: 0px 0px 0px 1.5px rgba(47, 114, 226, 0.25),
    0px 1px 1px rgba(0, 0, 0, 0.02), 0px 1px 3px rgba(0, 0, 0, 0.04);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-main-background);
  color: var(--color-text-default);
  font-weight: 500;
  /* Install font */
  font-family: 'Inter', sans-serif;
  font-size: text-sm;
}
